.MenuData{
  margin-top: 10px;
}

.botonAdd {
  margin-bottom: 10px !important;
  padding: 10px;
}
.tabla{
  margin-top: 10px;
}
.contenForm{
  margin-top: 20px;
}
.formularioSecciones{

}
.chkbx {
    margin-top: 10px;
    
}